/********************* Colour reference chart****************

background color    #e5e5e5
box color           #f4f4f4
    darker          #d6d6d6
blue(Today_line)    #4a639b
blue2(Today_line)   #27bdfa
green(Today_line)   #adc259

main: red            #de4349
    main: red_dr     #c53a3f

sub: green           #5fc073
    sub: green_dr    #50a361

sub: blue            #67c5eb
    sub: blue_dr     #55a3c2

sub: purple          #a981bf
    sub: purple_dr   #9068a6

sub: orange          #fa7f00
    sub: orange_dr   #d77f00

*/

.ws-popover-opener,
.ws-time,
.step-controls {
    display: none;
}

:focus {
    outline-width: 0;
}


/*  SECTIONS  */

.section {
    clear: both;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    display: table;
    content: '';
}

.group:after {
    clear: both;
}


/*  GRID OF THREE  */

.span-3-of-3 {
    width: 100%;
}

.span-2-of-3 {
    width: 76.13%;
}

.span-1-of-3 {
    width: 22.26%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 900px) {
    .col {
        margin: 1% 0 1% 0;
    }
    .span-3-of-3,
    .span-2-of-3,
    .span-1-of-3 {
        width: 100%;
    }
}


/*/////////////////////////////OWN CSS///////////////////////////////////*/

@font-face {
    font-family: 'telegrafico';
    src: url('fonts/telegrafico/telegrafico.ttf') format('truetype');
}

@font-face {
    font-family: 'minimal';
    src: url('fonts/simplifica/simple.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans';
    src: url('fonts/open-sans/openSans-regular.ttf') format('truetype');
}

body {
    margin: 0;
    background: #e5e5e5;
}


/* Header */

.header {
    position: relative;
    height: 50px;
    border-bottom: 2px solid #c53a3f;
    background-color: #de4349;
}

#logo {
    position: absolute;
    top: 5%;
    width: 46px;
    height: 46px;
    margin-left: 15px;
}

#user {
    font-family: minimal;
    font-size: 16pt;
    position: absolute;
    top: 15px;
    margin-left: 60px;
    color: white;
}

#create-event,
#create-category {
    float: right;
    margin-right: 10px;
    padding-top: 15px;
}

#create-event-btn,
#create-categroy-btn {
    font-family: minimal;
    font-size: 16pt;
    text-decoration: none;
    color: white;
}

#seperator, #seperator1 {
    float: right;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border-left: 2px solid #c53a3f;
}

#today {
    float: right;
    margin-right: 15px;
    padding-top: 15px;
}

#today-btn {
    font-family: minimal;
    font-size: 16pt;
    text-decoration: none;
    color: white;
}


/* Today Widget */

.today-widget {
    height: 260px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.date-today {
    height: 140px;
    border-bottom: 2px solid #d6d6d6;
}

.date-today #day {
    font-family: minimal;
    font-size: 80pt;
    float: left;
    margin-right: 3%;
    margin-left: 5%;
    padding-top: 20px;
    color: #de4349;
}

#name-day {
    font-family: minimal;
    font-size: 48pt;
    line-height: 70pt;
}

#month-year {
    font-family: minimal;
    font-size: 48pt;
    line-height: 15pt;
    color: #de4349;
}

.clock {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.clock #time {
    font-family: minimal;
    font-size: 85pt;
}


/* Upcoming Events */

.hiddenevent-list {
    display: none;
}

.upcoming-events {
    height: auto;
    background-color: #f4f4f4;
}

#headerwidget {
    display: flex;
    height: 50px;
    border-bottom: 2px solid #d6d6d6;
    flex-wrap: wrap;
    justify-content: center;
}

#headerw-title {
    font-family: minimal;
    font-size: 25pt;
    width: 85%;
    padding-top: 10px;
    text-align: center;
    color: #de4349;
}

.previous-btn {
    font-family: minimal;
    font-size: 40pt;
    text-decoration: none;
}

.next-btn {
    font-family: minimal;
    font-size: 40pt;
    text-decoration: none;
}

.active {
    color: #de4349;
}

.disabled {
    cursor: default;
    color: #d6d6d6;
}

#eventlist {
    margin-top: .5%;
    padding: 0;
}

#eventlist li {
    list-style-type: none;
    cursor: pointer;
}

.eventbox {
    height: 75px;
    width: inherit;
    overflow: hidden;
}

.time-event {
    font-family: minimal;
    font-size: 35pt;
    float: left;
    width: 15%;
    margin-top: 12px;
    margin-left: 2%;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.seperator-event {
    float: left;
    height: 55px;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid white;
}

.information-event {
    font-family: minimal;
    font-size: 18pt;
    line-height: 25px;
    float: left;
    margin-top: 15px;
    margin-left: 2%;
    color: white;
}

.title-event {
    font-size: 24pt;
    font-weight: bold;
}

.date-event {
    font-size: 22pt;
}

.red {
    background-color: #de4349;
}

.border-red {
    border-bottom: 3px solid #c53a3f;
}

.red:hover {
    background-color: #c53a3f;
}

.green {
    background-color: #5fc073;
}

.border-green {
    border-bottom: 3px solid #50a361;
}

.green:hover {
    background-color: #50a361;
}

.blue {
    background-color: #67c5eb;
}

.border-blue {
    border-bottom: 3px solid #55a3c2;
}

.blue:hover {
    background-color: #55a3c2;
}

.purple {
    background-color: #a981bf;
}

.border-purple {
    border-bottom: 3px solid #9068a6;
}

.purple:hover {
    background-color: #9068a6;
}

.orange {
    background-color: #fa7f00;
}

.border-orange {
    border-bottom: 3px solid #d77f00;
}

.orange:hover {
    background-color: #d77f00;
}

.nocolor {
    background-color: dimgrey;
}

.border-nocolor {
    border-bottom: 3px solid #4e4e4e;
}

.nocolor:hover {
    background-color: #4e4e4e;
}

.notactive {
    background-color: #4e4e4e;
    cursor: default;
}


/* Calender */

.calender-widget {
    height: 625px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

#calendar {
    width: 100%;
    color: dimgray;
}

.table-calender {
    width: 100%;
    height: 625px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-calender th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 18px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-right: transparent;
    border-left: transparent;
}

.tc-header {
    height: 50px;
}

.next-month {
    border-left: transparent;
    text-align: right;
}

.prev-month {
    border-right: transparent;
    text-align: left;
}

.prev-month-btn,
.next-month-btn {
    font-family: minimal;
    font-size: 40pt;
    text-decoration: none;
    color: #de4349;
}

.table-calender td {
    font-family: open-sans;
    padding: 4px 18px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.table-calender .tc-monthtag {
    text-align: center;
    height: 50px;
}

.table-calender .tc-currmonth {
    font-family: telegrafico;
    font-weight: bold;
    font-size: 28px;
    color: #de4349;
}

.table-calender .tc-curryear {
    font-family: open-sans;
    font-size: 22px;
    color: #de4349;
}

.table-calender .tc-daytag {
    text-align: center;
    height: 30px;
    width: 14.28%;
}

.daytag-inner {
    font-family: telegrafico;
    font-weight: bold;
    font-size: 24px;
    color: #de4349;
}

.tc-daycell {
    vertical-align: top;
}

.tc-day {
    font-size: 18px;
    margin-left: -5px;
    color: dimgrey;
}

.currday {
    font-weight: bold;
    color: #de4349;
}

.currday-cell {
    background-color: rgba(222, 67, 73, 0.2);
}

.cal-event {
    color: white;
    font-family: open-sans;
    font-weight: bold;
    font-size: 9pt;
    text-align: center;
    cursor: default;
    pointer-events: none;
}

@media only screen and (max-width: 1676px) {
    .seperator-event {
        margin-left: 25px;
    }
    .information-event {
        font-size: 16pt;
    }
    #name-day {
        font-size: 42pt;
        line-height: 70pt;
    }
    #month-year {
        font-size: 42pt;
        line-height: 5pt;
    }
}


/* Categorie Legend */

.noCatg {
    background-color: dimgrey;
    cursor: default;
}

.catg-legend {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.catg-list div {
    display: inline-block;
}

.catg-title {
    font-family: open-sans;
    font-size: 12pt;
    margin-left: 0.5%;
}

.catg-list-color {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    margin-left: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2px;
    display: inline-block;
}

.catg-list-color-nocatg {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    margin-left: 10px;
    color: white;
    text-align: center;
    padding-bottom: 2px;
    display: inline-block;
}

.catg-list-name {
    display: inline-block;
    width: 80px;
    margin-right: 5px;
    font-family: open-sans;
    font-size: 16px;
}


/*///////////////////////Pop-Up/////////////////////////////*/

.cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
    pointer-events: none;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

.pop-up {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    margin-right: 22%;
    margin-left: 22%;
}

.box {
    position: relative;
    margin-top: 35%;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
}

.close-button {
    position: absolute;
    left: 0;
    margin-top: -15px;
    margin-left: -10px;
    padding: 2px 7px;
    transition: all .5s ease;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #de4349;
    -webkit-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, .1);
}

.close-button:hover {
    background-color: #c53a3f;
}

.event-creator {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.event-creator,
#create-form,
#catg-form {
    font-family: open-sans;
    font-size: 12pt;
}

#create-form {
    margin-top: 5px;
}

.submit {
    cursor: pointer;
    border: 3px solid #de4349;
    background-color: #de4349;
}

.submit:hover {
    border: 3px solid #c53a3f;
    background-color: #c53a3f;
}

.eventbtn {
    font-family: 'open-sans';
    font-size: 15px;
    font-weight: bold;
    display: block;
    float: right;
    margin-top: -22px;
    text-decoration: none;
    color: #fff;
}

.event-creator #submit-btn:hover {
    border: 2px solid #c53a3f;
    background-color: #c53a3f;
}


/* Show Event */

.eventid,
.eventdate,
.eventcatg {
    display: none;
}

.event-up {
    margin: 35% 70px 0 70px;
    padding-bottom: 5px;
}

.event-information {
    font-family: open-sans;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.event-title,
.event-title-catg,
.event-title-show {
    font-family: open-sans;
    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #de4349;
}

.event-location {
    font-size: 18pt;
}

.event-date {
    font-size: 18pt;
    float: right;
    padding-top: 8px;
}

#category {
    display: inline-block;
    font-weight: bold;
}

.event-organizer {
    font-size: 14pt;
    display: inline-block;
    width: 50%;
}

.event-status {
    font-size: 16pt;
    font-weight: bold;
    float: right;
}

#event-web {
    text-decoration: none;
}

#eventtime-span,
#eventorganizer-span,
#eventpage-span,
#eventimg-span,
#eventcatg-span,
#category-span {
    font-weight: bold;
}

#eventpage-span {
    margin-right: 5px;
}

#eventtime-span {
    margin-right: 38px;
}

.event-allday {
    display: inline-block;
}

.event-time {
    display: inline-block;
}

.info-allday {
    margin-right: 10px;
    font-weight: 100;
    color: dimgray;
}

#allday1 {
    display: none;
}

.event-buttons {
    margin-top: 12px;
    margin-bottom: 18px;
    margin-right: 10px;
}

.edit-event,
.change-event,
.img-event,
.catg-event,
.delimg-event,
.imgup-event,
.not-active,
.catg-up {
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border: transparent;
}

.edit-starttime:read-only,
#start:read-only {
    cursor: default;
    color: crimson;
    pointer-events: none;
}

.edit-starttime:-moz-read-only,
#start:-moz-read-only {
    cursor: default;
    color: crimson;
    pointer-events: none;
}

.edit-endtime:read-only,
#end:read-only {
    cursor: default;
    color: crimson;
    pointer-events: none;
}

.edit-endtime:-moz-read-only,
#end:-moz-read-only {
    cursor: default;
    color: crimson;
    pointer-events: none;
}

#statusNew {
    margin-left: 10px;
}

.del-event,
.not-active1 {
    padding: 2px 10px 2px 10px;
}

.eventred {
    color: #de4349;
}

.eventred:hover {
    color: #c53a3f;
}

.eventgreen {
    color: #5fc073;
}

.eventgreen:hover {
    color: #50a361;
}

.eventblue {
    color: #67c5eb;
}

.eventblue:hover {
    color: #55a3c2;
}

.eventpurple {
    color: #a981bf;
}

.eventpurple:hover {
    color: #9068a6;
}

.eventorange {
    color: #fa7f00;
}

.eventorange:hover {
    color: #d77f00;
    #4e4e4e
}

.eventnocolor {
    color: dimgrey;
}

.eventnocolor:hover {
    color: #4e4e4e;
}

.add-event-catg {
    display: none;
    margin-top: 5px;
    margin-bottom: 8px;
}

.delcatg-event {
    text-decoration: none;
    color: black;
}

#category-span {
    font-family: open-sans;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#eventimg-span {
    font-family: open-sans;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Edit input */

.editor {
    font-family: open-sans;
}

.editable-red::-webkit-input-placeholder {
    color: rgba(222, 67, 73, 0.4)!important;
}

.editable-red:-moz-placeholder {
    color: rgba(222, 67, 73, 0.4)!important;
}

.editable-red::-moz-placeholder {
    color: rgba(222, 67, 73, 0.4)!important;
}

.editable-red:-ms-input-placeholder {
    color: rgba(222, 67, 73, 0.4)!important;
}

.editable-red {
    font-size: 24pt;
    font-family: open-sans;
    font-weight: bold;
    width: 200px;
    background-color: rgba(222, 67, 73, 0.1);
    color: #de4349;
    border-left: 2px solid #de4349;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.editable-green::-webkit-input-placeholder {
    color: rgba(95, 192, 115, 0.4)!important;
}

.editable-green:-moz-placeholder {
    color: rgba(95, 192, 115, 0.4)!important;
}

.editable-green::-moz-placeholder {
    color: rgba(95, 192, 115, 0.4)!important;
}

.editable-green:-ms-input-placeholder {
    color: rgba(95, 192, 115, 0.4)!important;
}

.editable-green {
    font-size: 24pt;
    font-family: open-sans;
    font-weight: bold;
    width: 200px;
    background-color: rgba(95, 192, 115, 0.1);
    color: #5fc073;
    border-left: 2px solid #5fc073;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.editable-blue::-webkit-input-placeholder {
    color: rgba(103, 197, 235, 0.4)!important;
}

.editable-blue:-moz-placeholder {
    color: rgba(103, 197, 235, 0.4)!important;
}

.editable-blue::-moz-placeholder {
    color: rgba(103, 197, 235, 0.4)!important;
}

.editable-blue:-ms-input-placeholder {
    color: rgba(103, 197, 235, 0.4)!important;
}

.editable-blue {
    font-size: 24pt;
    font-family: open-sans;
    font-weight: bold;
    width: 200px;
    background-color: rgba(103, 197, 235, 0.1);
    color: #67c5eb;
    border-left: 2px solid #67c5eb;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.editable-purple::-webkit-input-placeholder {
    color: rgba(169, 129, 191, 0.4)!important;
}

.editable-purple:-moz-placeholder {
    color: rgba(169, 129, 191, 0.4)!important;
}

.editable-purple::-moz-placeholder {
    color: rgba(169, 129, 191, 0.4)!important;
}

.editable-purple:-ms-input-placeholder {
    color: rgba(169, 129, 191, 0.4)!important;
}

.editable-purple {
    font-size: 24pt;
    font-family: open-sans;
    font-weight: bold;
    width: 200px;
    background-color: rgba(169, 129, 191, 0.1);
    color: #a981bf;
    border-left: 2px solid #a981bf;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.editable-orange::-webkit-input-placeholder {
    color: rgba(250, 127, 0, 0.4)!important;
}

.editable-orange:-moz-placeholder {
    color: rgba(250, 127, 0, 0.4)!important;
}

.editable-orange::-moz-placeholder {
    color: rgba(250, 127, 0, 0.4)!important;
}

.editable-orange:-ms-input-placeholder {
    color: rgba(250, 127, 0, 0.4)!important;
}

.editable-orange {
    font-size: 24pt;
    font-family: open-sans;
    font-weight: bold;
    width: 200px;
    background-color: rgba(250, 127, 0, 0.1);
    color: #fa7f00;
    border-left: 2px solid #fa7f00;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.editable-nocolor::-webkit-input-placeholder {
    color: rgba(100, 100, 100, 0.4)!important;
}

.editable-nocolor:-moz-placeholder {
    color: rgba(100, 100, 100, 0.4)!important;
}

.editable-nocolor::-moz-placeholder {
    color: rgba(100, 100, 100, 0.4)!important;
}

.editable-nocolor:-ms-input-placeholder {
    color: rgba(100, 100, 100, 0.4)!important;
}

.editable-nocolor {
    font-size: 24pt;
    font-weight: bold;
    width: 200px;
    background-color: rgba(100, 100, 100, 0.1);
    color: #4e4e4e;
    border-left: 2px solid #4e4e4e;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 0 5px 0 5px;
}

.edit-location {
    padding-bottom: 2px;
    font-size: 18pt;
    width: 100px;
}

.edit-date {
    font-size: 18pt;
    float: right;
}

.edit-organizer {
    margin-top: 3px;
    font-size: 14pt;
}

.eventimg-up {
    font-family: open-sans;
}

#upload-img {
    display: none;
}

.img-event-prev {
    margin-top: 10px;
    width: inherit;
    height: 40px;
    cursor: pointer;
}

#img-big {
    cursor: pointer;
    width: 500px;
}

#overlay-img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70) !important;
    display: none;
    z-index: 100;
}

#overlay-img-content {
    position: fixed;
    width: 100%;
    top: 100px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}


/* Create Category */

.create-catg {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.category-name {
    font-family: open-sans;
}

.catg-color {
    margin-top: 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: transparent;
    cursor: pointer;
}

.catg-up {
    margin-top: 30px;
    cursor: pointer;
}

.categories-list {
    display: none;
}


/* Del Category */

.pop-up-catg {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    margin-right: 40%;
    margin-left: 40%;
}

.del-catg-box {
    height: 75px;
}

.del-catg-title {
    text-align: center;
    font-family: open-sans;
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 5px;
    padding-top: 10px;
}

.diabtn {
    font-family: 'open-sans';
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #de4349;
    color: #fff;
}

.del-catg-btn {
    text-align: center;
}

.del-div {
    display: inline-block;
}

.del-catg-btn {
    padding-left: 5px;
    padding-right: 5px;
}

.cancel-div {
    display: inline-block;
    margin-left: 30px;
}

.cancel-btn {
    padding-left: 5px;
    padding-right: 5px;
}


/*///////////////BLUR ANIMATION//////////////*/

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}