/********************* Colour reference chart****************

background color    #e5e5e5
box color           #f4f4f4
    darker          #d6d6d6
blue(Today_line)    #4a639b
blue2(Today_line)   #27bdfa
green(Today_line)   #adc259

main: red            #de4349
    main: red_dr     #c53a3f

sub: green           #5fc073
    sub: green_dr    #50a361

sub: blue            #67c5eb
    sub: blue_dr     #55a3c2

sub: purple          #a981bf
    sub: purple_dr   #9068a6

sub: orange          #fa7f00
    sub: orange_dr   #d77f00

*/
:focus {
    outline-width: 0;
}
/*  SECTIONS  */

.section {
    clear: both;
    margin-right: 1%;
    margin-left: 1%;
    padding: 0;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    display: table;
    content: '';
}

.group:after {
    clear: both;
}


/*  GRID OF THREE  */

.span-3-of-3 {
    width: 100%;
}

.span-2-of-3 {
    width: 76.13%;
}

.span-1-of-3 {
    width: 22.26%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 900px) {
    .col {
        margin: 1% 0 1% 0;
    }
    .span-3-of-3,
    .span-2-of-3,
    .span-1-of-3 {
        width: 100%;
    }
}


/*/////////////////////////////OWN CSS///////////////////////////////////*/

@font-face {
    font-family: 'telegrafico';
    src: url('fonts/telegrafico/telegrafico.ttf') format('truetype');
}

@font-face {
    font-family: 'minimal';
    src: url('fonts/simplifica/simple.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans';
    src: url('fonts/open-sans/openSans-regular.ttf') format('truetype');
}

body {
    margin: 0;
    background: #e5e5e5;
}


/* Header */

.header {
    position: relative;
    height: 50px;
    border-bottom: 2px solid #c53a3f;
    background-color: #de4349;
}

#logo {
    position: absolute;
    top: 5%;
    width: 46px;
    height: 46px;
    margin-left: 15px;
}

#user {
    font-family: minimal;
    font-size: 16pt;
    position: absolute;
    top: 15px;
    margin-left: 60px;
    color: white;
}

#create-event {
    float: right;
    margin-right: 10px;
    padding-top: 15px;
}

#create-event-btn {
    font-family: minimal;
    font-size: 16pt;
    text-decoration: none;
    color: white;
}

#seperator {
    float: right;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border-left: 2px solid #c53a3f;
}

#today {
    float: right;
    margin-right: 15px;
    padding-top: 15px;
}

#today-btn {
    font-family: minimal;
    font-size: 16pt;
    text-decoration: none;
    color: white;
}


/* Today Widget */

.today-widget {
    height: 300px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.date-today {
    height: 150px;
    border-bottom: 2px solid #d6d6d6;
}

.date-today #day {
    font-family: minimal;
    font-size: 80pt;
    float: left;
    margin-right: 3%;
    margin-left: 5%;
    padding-top: 20px;
    color: #de4349;
}

#name-day {
    font-family: minimal;
    font-size: 48pt;
    line-height: 70pt;
}

#month-year {
    font-family: minimal;
    font-size: 48pt;
    line-height: 15pt;
    color: #de4349;
}

.clock {
    width: 50%;
    margin: 0 auto;
    padding-top: 12px;
    text-align: center;
}

.clock #time {
    font-family: minimal;
    font-size: 90pt;
}


/* Upcoming Events */

.upcoming-events {
    height: auto;
    background-color: #f4f4f4;
}

#headerwidget {
    display: flex;
    height: 50px;
    border-bottom: 2px solid #d6d6d6;
    flex-wrap: wrap;
    justify-content: center;
}

#headerw-title {
    font-family: minimal;
    font-size: 25pt;
    width: 85%;
    padding-top: 10px;
    text-align: center;
    color: #de4349;
}

.previous-btn {
    font-family: minimal;
    font-size: 40pt;
    text-decoration: none;
}

.next-btn {
    font-family: minimal;
    font-size: 40pt;
    text-decoration: none;
}

.active {
    color: #de4349;
}

.disabled {
    cursor: default;
    color: #d6d6d6;
}

#eventlist {
    margin-top: .5%;
    padding: 0;
}

#eventlist li {
    list-style-type: none;
    cursor: pointer;
}

.eventbox {
    height: 75px;
}

.time-event {
    font-family: minimal;
    font-size: 35pt;
    float: left;
    width: 15%;
    margin-top: 12px;
    margin-left: 2%;
    text-align: center;
    white-space: nowrap;
    color: white;
}

.seperator-event {
    float: left;
    height: 55px;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid white;
}

.information-event {
    font-family: minimal;
    font-size: 18pt;
    line-height: 25px;
    float: left;
    margin-top: 15px;
    margin-left: 2%;
    color: white;
}

.title-event {
    font-size: 24pt;
    font-weight: bold;
}

.date-event {
    font-size: 22pt;
}

.red {
    background-color: #de4349;
}

.border-red {
    border-bottom: 3px solid #c53a3f;
}

.red:hover {
    background-color: #c53a3f;
}

.green {
    background-color: #5fc073;
}

.border-green {
    border-bottom: 3px solid #50a361;
}

.green:hover {
    background-color: #50a361;
}

.blue {
    background-color: #67c5eb;
}

.border-blue {
    border-bottom: 3px solid #55a3c2;
}

.blue:hover {
    background-color: #55a3c2;
}

.purple {
    background-color: #a981bf;
}

.border-purple {
    border-bottom: 3px solid #9068a6;
}

.purple:hover {
    background-color: #9068a6;
}

.orange {
    background-color: #fa7f00;
}

.border-orange {
    border-bottom: 3px solid #d77f00;
}

.orange:hover {
    background-color: #d77f00;
}


/* Calender */

.calender-widget {
    height: 800px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

@media only screen and (max-width: 1676px) {
    .seperator-event {
        margin-left: 25px;
    }
    .information-event {
        font-size: 16pt;
    }
    #name-day {
        font-size: 42pt;
        line-height: 70pt;
    }
    #month-year {
        font-size: 42pt;
        line-height: 5pt;
    }
}


/*///////////////////////Pop-Up/////////////////////////////*/

.cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
    pointer-events: none;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

.pop-up {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    margin-right: 27%;
    margin-left: 27%;
}

.box {
    position: relative;
    margin-top: 35%;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1);
} 

.close-button {
    position: absolute;
    left: 0;
    margin-top: -15px;
    margin-left: -10px;
    padding: 2px 7px;
    transition: all .5s ease;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #de4349;
    -webkit-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: -4px -2px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, .1);
}

.close-button:hover {
    background-color: #c53a3f;
}

.event-creator {
    margin: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.event-creator #create-form {
    font-family: open-sans;
    font-size: 12pt;
}

.submit {
    cursor: pointer;
    border: 3px solid #de4349;
    background-color: #de4349;
}

.submit:hover {
    border: 3px solid #c53a3f;
    background-color: #c53a3f;
}

.eventbtn {
    font-family: 'open-sans';
    font-size: 15px;
    font-weight: bold;
    display: block;
    float: right;
    margin-top: -22px;
    text-decoration: none;
    color: #fff;
}

.event-creator #submit-btn:hover {
    border: 2px solid #c53a3f;
    background-color: #c53a3f;
}


/* Show Event */

.eventid {
    display: none;
}

.eventUp {
    margin: 35% 70px 0 70px;
}

.eventInformations {
    font-family: open-sans;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.eventTitle {
    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #de4349;
}

.eventEditor {
    font-size: 16pt;
    color: black;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
}

.eventLocation {
    font-size: 18pt;
}

.eventDate {
    font-size: 18pt;
    float: right;
    padding-top: 8px;
}

.eventOrganizator {
    font-size: 14pt;
    display: inline-block;
    width: 50%;
}

.eventStatus {
    font-size: 16pt;
    font-weight: bold;
    float: right;
}

#eventWeb {
    text-decoration: none;
}

#eventtime-span, #eventorganizer-span, #eventpage-span {
    font-weight: bold;
}
#eventpage-span {
    margin-right: 5px;
}
#eventtime-span {
    margin-right: 38px;
}

.eventAllDay {
    display: inline-block;
}

.eventTime {
    display: inline-block;
}

.editEvent, .changeEvent {
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border: transparent;
}


.delEvent {
    padding: 2px 10px 2px 10px;
}

.eventred {
    color: #de4349;
}

.eventred:hover {
    color: #c53a3f;
}

.eventgreen {
    color: #5fc073;
}

.eventgreen:hover {
    color: #50a361;
}

.eventblue {
    color: #67c5eb;
}

.eventblue:hover {
    color: #55a3c2;
}

.eventpurple {
    color: #a981bf;
}

.eventpurple:hover {
    color: #9068a6;
}

.eventorange {
    color: #fa7f00;
}

.eventorange:hover {
    color: #d77f00;
}

.editable-red {
    background-color: rgba(222, 67, 73, 0.1);
    color: rgba(222, 67, 73, 0.4);
    border-left: 2px solid #de4349;
    padding: 0 5px 0 5px;
}

.editable-green {
    background-color: rgba(95, 192, 115, 0.1);
    color: rgba(95, 192, 115, 0.4);
    border-left: 2px solid #5fc073;
    padding: 0 5px 0 5px;
}

.editable-blue {
    background-color: rgba(103, 197, 235, 0.1);
    color: rgba(103, 197, 235, 0.4);
    border-left: 2px solid #67c5eb;
    padding: 0 5px 0 5px;
}

.editable-purple {
    background-color: rgba(169, 129, 191, 0.1);
    color: rgba(169, 129, 191, 0.4);
    border-left: 2px solid #a981bf;
    padding: 0 5px 0 5px;
}

.editable-orange {
    background-color: rgba(250, 127, 0, 0.1);
    color: rgba(250, 127, 0, 0.4);
    border-left: 2px solid #fa7f00;
    padding: 0 5px 0 5px;
}

/*///////////////BLUR ANIMATION//////////////*/

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}